.second-menu {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}


.home-menu {
    min-height: 200px;
    justify-content: center;
    margin-top: 50px;
    /* align-content: center; */
}
.area-menu {
    min-height: 200px;
    justify-content: center;
    margin-top: 50px;
}
/* .area-menu .yellow {
    background-color: red;
} */