.second-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
}


.home-menu {
    min-height: 200px;
    justify-content: center;
    margin-top: 50px;
}
.area-menu {
    min-height: 200px;
    justify-content: center;
    margin-top: 50px;
}

@media(max-width: 600px) {
    .second-menu {
        justify-content: center;
    }

    .home-menu,
    .area-menu {
        margin-top: 20px;
        min-height: auto;
    }
}
