.input-box {
    font-size: 1.5em;
    margin: 20px;
    /* text-align: start; */
}
.form-input {
   /* line-height: 1.8em; */
   font-size: 1em;
   margin-left: 10px;
   width: 396px;
}
.form-label {
    width: 100px;
    color: rgb(60,60,60);
}
.price-input {
    width: 50px
}