.form-box {
    max-width: 50%;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 5px black;
    padding: 20px 0;
    background: linear-gradient(0deg, rgba(227,183,146,1) 45%, rgba(196,98,16,1) 100%);
    color: rgb(60,60,60);
    margin-bottom: 30px;
}
.add-form {
    text-align: end;
    max-width: 50%;
    margin: auto;
}
.form-textarea-box,
.form-select-box {
    font-size: 1.5em;
    padding-right: 20px;
    margin-left: 20px;
}
.image-cotainer {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
    padding-right: 20px;
    margin-left: 20px;
}
.img-btn-box {
    margin-left: 30px;
}
.form-select {
    min-width: 400px;
    line-height: 1.8em;
    font-size: 0.8em;
    text-align-last:center;
    font-family: 'Ranchers', cursive;
    color: #404040;
    border-radius: 2px;
}


.form-label {
    width: 100px;
}
.textarea {
    width: 400px;
    height: 100px;
    margin-left: 0;
    border-radius: 2px;
}
.price-input {
    width: 50px
}
.select-label,
.textarea-label {
    text-align: start;
}
.submit-btn-box {
    padding: 20px 0;
    text-align: center;
}
.submit-btn {
    padding: 10px 30px;
    font-size: 1em;
    cursor: pointer;
}


@media(max-width: 600px) {
    .form-box {
        max-width: 90%;
    }
    .add-form,
    .textarea {
        max-width: 100%;
    }
    .form-select {
        min-width: 100%;
    }
    .image-cotainer {
        display: block;
    }
    .img-btn-box {
        margin: 10px 20px;
    }
}
