.form-btn {
    padding: 7px 10px;
    text-decoration: none;
    /* background-color: chocolate; */
    color: rgb(60,60,60);
    font-size: 1em;
    /* box-shadow: 0 0 3px black; */
    border-radius: 3px;
    margin-left: 20px;
    cursor: pointer;
    /* background-color: white; */
}
.form-btn:hover {
    box-shadow: 0 0 5px black;
}
.img-btn {
    padding: 5px 2px;
    text-decoration: none;
    /* background-color: chocolate; */
    color: rgb(60,60,60);
    font-size: 1.1em;
    /* box-shadow: 0 0 3px black; */
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    /* background-color: ; */
}
.img-btn:hover {
    box-shadow: 0 0 10px black;
}