.profile-title,
.my-pets-title,
.no-pet-title {
    text-align: center;
    margin: 20px 0;
    font-size: 1.5em;
}

.img-container {
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    margin-top: 50px;
}

.profile-title>span {
    margin-left: 10px;
    font-style: italic;
}

.no-pet-title {
    font-size: 4em;
    color: white;
    text-shadow: 0 0 2px black;
}

