.site-header {
    display: flex;
    justify-content:  center;
    flex-wrap: wrap;

}
.link {
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.8em;
    color: #404040;
}
.link:first-child {
    border-right: 2px solid black;
}
.link:hover {
    /* border-bottom: 2px solid black; */
    box-shadow: 0 0 5px black;
    background-color: rgba(255,255,25, 0.1);
    border-radius: 5px;
}

@media (max-width: 600px) { 
    .site-header {
        /* display: block; */
        width: 100%;
        /* margin-top: 10px; */
        text-align: center;
    }
    .link {
        padding: 10px 10px;
        /* font-size: 1.2em; */
    }
}